.navbar {
    height: 80px;
    background-color: #30347f;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 0 80px;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  
    font-size: 22px;
    font-weight: 600;
  }
  
  .navbar a:hover {
    opacity: 0.8;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }